Q1.  Write a Python program to print "Hello, World!" ?

In [1]:
# Ans.

print("Hello, World!")

Hello, World!

Q2. Write a Python program that displays your name and age ?

In [2]:
 #Ans.

 name = "Aditya Seth"
 age = 25
 print(f"My name is {name} and I am {age} years old.")

My name is Aditya Seth and I am 25 years old.

Q3. Write code to print all the pre-defined keywords in Python using the keyword library ?

In [3]:
#Ans.

help ('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

Q4. Write a program that checks if a given word is a Python keyword ?

In [7]:
#Ans.

# prompt: Write a program that checks if a given word is a Python keyword ?

import keyword

def check_keyword(word):
    if keyword.iskeyword(word):
        print(f"'{word}' is a Python keyword.")
    else:
        print(f"'{word}' is NOT a Python keyword.")

# Get user input
word = input("Enter a word: ")
check_keyword(word)

Enter a word: Hello
'Hello' is NOT a Python keyword.

Q5. Create a list and tuple in Python, and demonstrate how attempting to change an element works differently for each ?

In [8]:
#Ans.

# Create a list (Mutable)
my_list = [1, 2, 3]
my_list[0] = 10  # ✅ Allowed (Modifiable)
print("Updated List:", my_list)

# Create a tuple (Immutable)
my_tuple = (1, 2, 3)
my_tuple[0] = 10

Updated List: [10, 2, 3]

TypeError: 'tuple' object does not support item assignment

Q6. Write a function to demonstrate the behavior of mutable and immutable arguments ?

In [9]:
#Ans.

def modify_data(mutable_list, immutable_num):
    # Modify the mutable list
    mutable_list.append(4)  # ✅ List is modified

    # Try modifying the immutable integer
    immutable_num += 10  # ❌ Creates a new integer, original remains unchanged

    print("Inside function - List:", mutable_list)
    print("Inside function - Number:", immutable_num)

# Define mutable (list) and immutable (int) arguments
my_list = [1, 2, 3]
my_num = 5

# Call the function
modify_data(my_list, my_num)

# Check values after function call
print("Outside function - List:", my_list)  # ✅ List is modified
print("Outside function - Number:", my_num)

Inside function - List: [1, 2, 3, 4]
Inside function - Number: 15
Outside function - List: [1, 2, 3, 4]
Outside function - Number: 5

Q7. Write a function to demonstrate the behavior of mutable and immutable arguments ?

In [10]:
#Ans.

def modify_data(mutable_list, immutable_num):
    # Modify the mutable list
    mutable_list.append(4)  # ✅ List is modified

    # Try modifying the immutable integer
    immutable_num += 10  # ❌ Creates a new integer, original remains unchanged

    print("Inside function - List:", mutable_list)
    print("Inside function - Number:", immutable_num)

# Define mutable (list) and immutable (int) arguments
my_list = [1, 2, 3]
my_num = 5

# Call the function
modify_data(my_list, my_num)

# Check values after function call
print("Outside function - List:", my_list)  # ✅ List is modified
print("Outside function - Number:", my_num)

Inside function - List: [1, 2, 3, 4]
Inside function - Number: 15
Outside function - List: [1, 2, 3, 4]
Outside function - Number: 5

Q8. Write a program to demonstrate the use of logical operators ?

In [12]:
#Ans.

# Define variables
x = 10
y = 5
z = 15

# Using 'and' operator (Both conditions must be True)
print("AND Operator:", (x > y and z > x))  # ✅ True (Both conditions are True)

# Using 'or' operator (At least one condition must be True)
print("OR Operator:", (x < y or z > x))  # ✅ True (One condition is True)

# Using 'not' operator (Reverses the condition)
print("NOT Operator:", not (x > y))  # ❌ False (Reverses True to False)

AND Operator: True
OR Operator: True
NOT Operator: False

Q9 . Write a Python program to convert user input from string to integer, float, and boolean types ?

In [13]:
#Ans.

# Get user input as a string
user_input = input("Enter a value: ")

# Convert to integer
try:
    int_value = int(user_input)
    print("Integer:", int_value)
except ValueError:
    print("Cannot convert to Integer.")

# Convert to float
try:
    float_value = float(user_input)
    print("Float:", float_value)
except ValueError:
    print("Cannot convert to Float.")

# Convert to boolean
bool_value = bool(user_input)  # Empty string → False, Non-empty → True
print("Boolean:", bool_value)

Enter a value: 10
Integer: 10
Float: 10.0
Boolean: True

Q10. Write code to demonstrate type casting with list elements ?

In [14]:
#Ans.

# Original list with mixed data types (strings)
str_list = ["10", "20", "30", "40.5", "50.7"]

# Convert list elements to integers (where possible)
int_list = [int(float(i)) for i in str_list]  # Convert to float first (for decimals), then int
print("Integer List:", int_list)  # Output: [10, 20, 30, 40, 50]

# Convert list elements to floats
float_list = [float(i) for i in str_list]
print("Float List:", float_list)  # Output: [10.0, 20.0, 30.0, 40.5, 50.7]

# Convert list elements to boolean values
bool_list = [bool(i) for i in str_list]
print("Boolean List:", bool_list)  # Output: [True, True, True, True, True]

Integer List: [10, 20, 30, 40, 50]
Float List: [10.0, 20.0, 30.0, 40.5, 50.7]
Boolean List: [True, True, True, True, True]

Q11. Write a program that checks if a number is positive, negative, or zero ?

In [15]:
#Ans.

# Get user input
num = float(input("Enter a number: "))

# Check conditions
if num > 0:
    print("The number is Positive.")
elif num < 0:
    print("The number is Negative.")
else:
    print("The number is Zero.")

Enter a number: 10
The number is Positive.

Q12. Write a for loop to print numbers from 1 to 10 ?

In [16]:
# Ans.

for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

Q13. Write a Python program to find the sum of all even numbers between 1 and 500 ?

In [17]:
#Ans.

# Initialize sum variable
sum_even = 0

# Loop through even numbers from 2 to 500
for num in range(2, 501, 2):  # Step size of 2 to get only even numbers
    sum_even += num  # Add to sum

# Print the result
print("Sum of even numbers from 1 to 500:", sum_even)

Sum of even numbers from 1 to 500: 62750

Q14. Write a program to reverse a string using a while loop ?

In [18]:
#Ans.

# Get user input
text = input("Enter a string: ")

# Initialize variables
reversed_text = ""
index = len(text) - 1  # Start from the last character

# Reverse using while loop
while index >= 0:
    reversed_text += text[index]  # Append character in reverse order
    index -= 1  # Move to the previous character

# Print the reversed string
print("Reversed String:", reversed_text)

Enter a string: Hello
Reversed String: olleH

Q15. Write a Python program to calculate the factorial of a number provided by the user using a while loop ?

In [19]:
#Ans.

# Get user input
num = int(input("Enter a number: "))

# Initialize variables
factorial = 1
i = num

# Calculate factorial using while loop
while i > 0:
    factorial *= i  # Multiply the current number
    i -= 1  # Decrease the counter

# Print the result
print(f"Factorial of {num} is {factorial}")

Enter a number: 5
Factorial of 5 is 120